.page-header {
  background-image: none;
  background-color: #6257aa;
  min-height: 300px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
/*.material-icons.md-96 { font-size: 96px; color: #9085fe; }*/
.material-icons.md-96 { font-size: 96px; color: #6257aa; }

@media screen and (min-width: 800px) {
  .page-header-img {
    background-image: url('../img/motherscenter_header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #6257aa;
    min-height: 300px;
  }

  .page-header-img > h1, .page-header-img > h2 {
    visibility: hidden;
  }

}

table.hoverable td {
  text-align: center;
  border: none;
  width: 30%;
  max-width: 30%;
  min-width: 30%;
}

table.hoverable td:hover {
  background-color: #dddddd;
}

table.hoverable a:link {
  display: inline-block;
  width: 100%;
}

table.hoverable a {
  text-decoration: none;
  color: #606c71;
}

h3.project-mission {
  text-align: center;
  color: #6257aa;
}

h1.project-mission {
  text-align: center;
  color: #6257aa;
}

table.hoverable {
  display: table;
}

table.hoverable a {
  color: #6257aa;
}

.right {
  float: right;
  width: 300px;
  padding-left: 2.0em;
}

.left {
  float: left;
  width: 300px;
  padding-right: 2.0em;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 { margin-top: 2rem; margin-bottom: 1rem; font-weight: normal; color: #6257aa; }

@media screen and (max-width: 1024px) {
  .left {
    float: none;
    clear: both;
    display: inline-block;
    width: 100%;
  }

  .right {
    float: none;
    clear: both;
    display: inline-block;
    width: 100%;
  }
}

